<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Movie</title>
    <load href="/Public/css/papa.css" />
</head>

<body>
    <a href="http://120.27.238.101/home/paparazzi/index2" style="right:20px;top: 20px" class="alink">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-xiangji"></use>
        </svg>
    </a>
    <form action="/home/paparazzi/cv" method="post" class="search-box" style="display: none;">
        <input name='title'></input>
    </form>
    <div class="container">
        <div class='portrait-container'>
            <div class='portrait' style='background-image: url("/Public/images/葛优.png");'>
                <ul class='portrait-details'>
                    <li><a>葛优</a></li>
                    <li>获中国电影华表奖等多个电影节奖项，没有跨界，
                        <br> 有获得其他荣誉，获奖时年龄为47
                    </li>
                </ul>
            </div>
            <div class='portrait' style='background-image: url("/Public/images/曾志伟.png");'>
                <ul class='portrait-details'>
                    <li><a>曾志伟</a></li>
                    <li>获香港电影金像奖等多个电影奖项，有跨界，
                        <br>有获得其他荣誉，获奖年龄为39，白羊座</li>
                </ul>
            </div>
            <div class='portrait' style='background-image: url("/Public/images/叶童.png");'>
                <ul class='portrait-details'>
                    <li><a>叶童</a></li>
                    <li>获两届香港电影金像奖最佳女主角，没有跨界，
                        <br>有获得其他荣誉，获奖年龄21，身高172cm，双鱼座
                    </li>
                </ul>
            </div>
            <div class='portrait' style='background-image: url("/Public/images/潘粤明.png");'>
                <ul class='portrait-details'>
                    <li><a>潘粤明</a></li>
                    <li>获中国电影华表奖等多个电影节奖项，没有跨界，
                        <br>有获得其他荣誉，参演过话剧，获奖时年龄为29，身高178cm</li>
                </ul>
            </div>
            <div class='portrait' style='background-image: url("/Public/images/冯巩.png");'>
                <ul class='portrait-details'>
                    <li><a>冯巩</a></li>
                    <li>获中国电影金鸡奖等多个电影节奖项，没有跨界，
                        <br>有获得其他荣誉，科班出身，41岁获奖，身高183cm</li>
                </ul>
            </div>
            <div class='portrait' style='background-image: url("/Public/images/刘青云.png");'>
                <ul class='portrait-details'>
                    <li><a>刘青云</a></li>
                    <li>获香港电影金像奖等多个电影节奖项，没有跨界，
                        <br>有获得其他荣誉，获奖时年龄为48，水瓶座，身高175cm</li>
                </ul>
            </div>
            <div class='portrait' style='background-image: url("/Public/images/斯琴高娃.png");z-index: 21;'>
                <ul class='portrait-details'>
                    <li><a>斯琴高娃</a></li>
                    <li>获中国电影金鸡奖等多个电影节奖项，没有跨界，
                        <br>有获得其他荣誉，获奖时年龄为33，水瓶座，身高168cm</li>
                </ul>
            </div>
            <div class='portrait' style='background-image: url("/Public/figures/features.png"); height: 18rem;width: 28rem;border-radius: 7.5rem; filter: grayscale(0);'>
                <!-- <ul class='portrait-details'>
                    <li>放词云的位置</li>
                    <li>57th President of the United States of Mexico</li>
                </ul> -->
            </div>
            <div class='portrait' style='background-image: url("/Public/images/吴镇宇.png");'>
                <ul class='portrait-details'>
                    <li><a>吴镇宇</a></li>
                    <li>2获台湾电影金马奖等多个电影节奖项，没有跨界，
                        <br>有获得其他荣誉，获奖时年龄为39，身高180cm，射手座</li>
                </ul>
            </div>
            <div class='portrait' style='background-image: url("/Public/images/范伟.png");'>
                <ul class='portrait-details'>
                    <li><a>范伟</a></li>
                    <li>获台湾电影金马奖等多个电影节奖项，没有跨界，
                        <br>有获得其他荣誉，获奖时年龄为54，处女座</li>
                </ul>
            </div>
        </div>
        <div class="list-container">
            <div class='lap'>下一个影帝影后</div>
            <div class='ranking'>
                <div class='driver driver-mercedes'>
                    <div class='driver-position'>1</div>
                    <div class='driver-color'></div>
                    <div class='driver-name'><a>桑妮</a></div>
                    <div class='driver-time'>61.31%</div>
                </div>
                <div class='driver driver-mercedes'>
                    <div class='driver-position'>2</div>
                    <div class='driver-color'></div>
                    <div class='driver-name'><a>王子建</a></div>
                    <div class='driver-time'>59.23%</div>
                </div>
                <div class='driver driver-ferrari'>
                    <div class='driver-position'>3</div>
                    <div class='driver-color'></div>
                    <div class='driver-name'><a>渡边谦</a></div>
                    <div class='driver-time'>53.03%</div>
                </div>
                <div class='driver driver-williams'>
                    <div class='driver-position'>4</div>
                    <div class='driver-color'></div>
                    <div class='driver-name'><a>郭帅</a></div>
                    <div class='driver-time'>51.63%</div>
                </div>
                <div class='driver driver-ferrari'>
                    <div class='driver-position'>5</div>
                    <div class='driver-color'></div>
                    <div class='driver-name'><a>黄志玮</a></div>
                    <div class='driver-time'>51.35%</div>
                </div>
                <div class='driver driver-lotus'>
                    <div class='driver-position'>6</div>
                    <div class='driver-color'></div>
                    <div class='driver-name'><a>梓晓</a></div>
                    <div class='driver-time'>48.53%</div>
                </div>
                <div class='driver driver-redbull'>
                    <div class='driver-position'>7</div>
                    <div class='driver-color'></div>
                    <div class='driver-name'><a>韩丹彤</a></div>
                    <div class='driver-time'>48.49%</div>
                </div>
                <div class='driver driver-williams'>
                    <div class='driver-position'>8</div>
                    <div class='driver-color'></div>
                    <div class='driver-name'><a>张逗逗</a></div>
                    <div class='driver-time'>47.29%</div>
                </div>
                <div class='driver driver-lotus'>
                    <div class='driver-position'>9</div>
                    <div class='driver-color'></div>
                    <div class='driver-name'><a>康凯</a></div>
                    <div class='driver-time'>43.77%</div>
                </div>
                <div class='driver driver-redbull'>
                    <div class='driver-position'>10</div>
                    <div class='driver-color'></div>
                    <div class='driver-name'><a>王亚梅</a></div>
                    <div class='driver-time'>43.52%</div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="//at.alicdn.com/t/font_301490_i4kx0ezospl.js"></script>
    <script src="http://malsup.github.io/jquery.form.js"></script>
    <script type="text/javascript">
    $(window).on('load', function() {

        $('a').click(function() {
            $('form input').val($(this).text());
            $("form").submit();
        })


        // Store the list element.
        var obj = $('.portrait-details');
        // Store half width of the portrait div.
        var push = $('.portrait').width() / 2;

        // Since every list element will have different content widths make an individual function for each of it.
        obj.each(function() {
            // Step 1: Get width of list element
            var objWidth = $(this).outerWidth();
            // Step 2: Pull list element to the left by half of its own width to align its own center with the left side of the portrait div. Then push back half of portrait width (stored above) to align both their center axes.
            $(this).css('margin-left', -(objWidth / 2 - push) + 'px');
        });

        // Make a mouse event function. I used click because I don't like the user to get attacked by stuff out of nowhere. The pointer should be enough of an indicator.
        $('.portrait').on('click', function(e) {
            // Prevent parent DOM from firing any of this.
            e.stopPropagation();
            // Only fire if it is the actual element, no childs allowed.
            if (e.target != this) return;
            // Toggle a class and make siblings remove it.
            $(this).toggleClass('show').siblings().removeClass('show');
        });

        // Too keep this intuitive make a second function to remove on document click. (Don't force mouse movements.)
        $(document).click(function() {
            $('.portrait').removeClass('show');
        });

    });
    </script>
</body>

</html>